body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Header styles */
header{
    height: 50px;
    width: auto;
    text-align: center;
    padding: 0;
}

/* Circle item styles */
.circleItems li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;    
}

.circleItems li:first-of-type{
    margin-left: 0;
    padding: 0;
    color: coral;
}

.circleItems li:hover{
    color: rgb(253, 174, 145);
}

/* Square item styles */
.sqaureItems li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;    
}

.circleItems li:first-of-type{
    margin-left: 0;
    padding: 0;
    color: coral;
}

.circleItems li:hover{
    color: rgb(253, 174, 145);
}


/* Main section styles */
section{
    height: 550px;
    width: 450px;    
    background-color: lightgrey;
    border-radius: 50px;
    margin-top: 20px;    
    margin: 2% auto;
}